# Financial Data Analysis with Python - a Deep Dive

In [2]:
import pandas as pd
# import Yahoo finance API
import yfinance as yf

In [3]:
# set start and end date for time series
start = "2014-10-01"
end = "2021-05-31"

In [5]:
# set ticker symbol of financial instrument
# BA = The Boeing Company
# can be searcherd at https://finance.yahoo.com/
symbol = "BA"

In [11]:
# download historical price data for Boeing
# Boeing is a dividend paying stock therefore the adjusted close is lower than the close
# open, high, low and close prices don't take into account dividend payouts
# daily trading volume is in units (numbers of stocks that have been traded on a day)
df = yf.download(symbol, start, end)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-30,128.570007,129.389999,127.309998,127.379997,110.763138,4000200
2014-10-01,127.370003,127.370003,124.309998,124.669998,108.406670,5265200
2014-10-02,124.400002,125.550003,123.839996,124.169998,107.971893,3204500
2014-10-03,124.660004,126.870003,124.660004,126.360001,109.876213,3075900
2014-10-06,127.089996,127.190002,125.379997,126.260002,109.789253,2681000
...,...,...,...,...,...,...
2021-05-24,235.139999,238.500000,232.600006,237.440002,237.440002,10106000
2021-05-25,240.000000,243.779999,239.229996,240.740005,240.740005,12908000
2021-05-26,241.699997,242.490005,239.869995,241.369995,241.369995,7240200
2021-05-27,248.110001,252.600006,247.190002,250.699997,250.699997,18404400
2021-05-28,247.479996,248.979996,245.369995,247.020004,247.020004,11197400

In [12]:
# get some meta information about the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1678 entries, 2014-09-30 to 2021-05-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1678 non-null   float64
 1   High       1678 non-null   float64
 2   Low        1678 non-null   float64
 3   Close      1678 non-null   float64
 4   Adj Close  1678 non-null   float64
 5   Volume     1678 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 91.8 KB

In [13]:
# drawing data for different ticker symbols at once
symbol = ["BA", "MSFT", "^DJI", "EURUSD=X", "GC=F", "BTC-USD"]

Ticker Symbols:
- **BA:** Boeing (US Stock)
- **MSFT:** Microsoft Corp (US Stock)
- **^DJI:** Dow Jones Industrial Average (US Stock Index)
- **EURUSD=X:** Exchange Rate for Currency Pair EUR/USD (Forex)
- **GC=F:** Gold Price (Precious Metal / Commodity)
- **BTC-USD:** Bitcoin in USD (Cryptocurrency)

In [14]:
df = yf.download(symbol, start, end)
df

[*********************100%***********************]  6 of 6 completed

             Adj Close                                                   \
                    BA       BTC-USD  EURUSD=X         GC=F        MSFT
Date
2014-09-30  110.763145    386.944000  1.269084  1210.500000   40.407623
2014-10-01  108.406670    383.614990  1.262834  1214.599976   40.006680
2014-10-02  107.971878    375.071991  1.262419  1214.199951   39.884644
2014-10-03  109.876228    359.511993  1.267058  1192.199951   40.172279
2014-10-04         NaN    328.865997       NaN          NaN         NaN
...                ...           ...       ...          ...         ...
2021-05-26  241.369995  39294.199219  1.224909  1901.300049  249.453094
2021-05-27  250.699997  38436.968750  1.219260  1895.699951  247.290741
2021-05-28  247.020004  35697.605469  1.219319  1902.500000  247.657715
2021-05-29         NaN  34616.066406       NaN          NaN         NaN
2021-05-30         NaN  35678.128906       NaN          NaN         NaN

                               Close                                       \
                    ^DJI          BA       BTC-USD  EURUSD=X         GC=F
Date
2014-09-30  17042.900391  127.379997    386.944000  1.269084  1210.500000
2014-10-01  16804.710938  124.669998    383.614990  1.262834  1214.599976
2014-10-02  16801.050781  124.169998    375.071991  1.262419  1214.199951
2014-10-03  17009.689453  126.360001    359.511993  1.267058  1192.199951
2014-10-04           NaN         NaN    328.865997       NaN          NaN
...                  ...         ...           ...       ...          ...
2021-05-26  34323.050781  241.369995  39294.199219  1.224909  1901.300049
2021-05-27  34464.640625  250.699997  38436.968750  1.219260  1895.699951
2021-05-28  34529.449219  247.020004  35697.605469  1.219319  1902.500000
2021-05-29           NaN         NaN  34616.066406       NaN          NaN
2021-05-30           NaN         NaN  35678.128906       NaN          NaN

            ...      Open                                             Volume  \
            ...  EURUSD=X         GC=F        MSFT          ^DJI          BA
Date        ...
2014-09-30  ...  1.269100  1214.800049   46.369999  17070.449219   4000200.0
2014-10-01  ...  1.262913  1207.699951   46.270000  17040.460938   5265200.0
2014-10-02  ...  1.262499  1215.300049   45.830002  16808.269531   3204500.0
2014-10-03  ...  1.266994  1212.400024   45.980000  16802.199219   3075900.0
2014-10-04  ...       NaN          NaN         NaN           NaN         NaN
...         ...       ...          ...         ...           ...         ...
2021-05-26  ...  1.224890  1901.300049  251.429993  34336.339844   7240200.0
2021-05-27  ...  1.219036  1896.800049  251.169998  34432.468750  18404400.0
2021-05-28  ...  1.219274  1897.500000  251.000000  34558.500000  11197400.0
2021-05-29  ...       NaN          NaN         NaN           NaN         NaN
2021-05-30  ...       NaN          NaN         NaN           NaN         NaN


                BTC-USD EURUSD=X      GC=F        MSFT         ^DJI
Date
2014-09-30     34707300      0.0     680.0  33033100.0  102290000.0
2014-10-01     26229400      0.0     178.0  38088400.0  104240000.0
2014-10-02     21777700      0.0     176.0  25119400.0   75490000.0
2014-10-03     30901200      0.0     499.0  32453200.0   87940000.0
2014-10-04     47236500      NaN       NaN         NaN          NaN
...                 ...      ...       ...         ...          ...
2021-05-26  51346735160      0.0  170526.0  17771600.0  258780000.0
2021-05-27  43210968721      0.0   35794.0  24426200.0  520630000.0
2021-05-28  55200191952      0.0    2415.0  18270200.0  290850000.0
2021-05-29  45231013335      NaN       NaN         NaN          NaN
2021-05-30  31646080921      NaN       NaN         NaN          NaN

[2435 rows x 36 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2435 entries, 2014-09-30 to 2021-05-30
Freq: D
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Adj Close, BA)        1678 non-null   float64
 1   (Adj Close, BTC-USD)   2435 non-null   float64
 2   (Adj Close, EURUSD=X)  1736 non-null   float64
 3   (Adj Close, GC=F)      1675 non-null   float64
 4   (Adj Close, MSFT)      1678 non-null   float64
 5   (Adj Close, ^DJI)      1678 non-null   float64
 6   (Close, BA)            1678 non-null   float64
 7   (Close, BTC-USD)       2435 non-null   float64
 8   (Close, EURUSD=X)      1736 non-null   float64
 9   (Close, GC=F)          1675 non-null   float64
 10  (Close, MSFT)          1678 non-null   float64
 11  (Close, ^DJI)          1678 non-null   float64
 12  (High, BA)             1678 non-null   float64
 13  (High, BTC-USD)        2435 non-null   float64
 14  (High, EURUSD=X)       1736 non-null   float64
 15  (High, GC=F)           1675 non-null   float64
 16  (High, MSFT)           1678 non-null   float64
 17  (High, ^DJI)           1678 non-null   float64
 18  (Low, BA)              1678 non-null   float64
 19  (Low, BTC-USD)         2435 non-null   float64
 20  (Low, EURUSD=X)        1736 non-null   float64
 21  (Low, GC=F)            1675 non-null   float64
 22  (Low, MSFT)            1678 non-null   float64
 23  (Low, ^DJI)            1678 non-null   float64
 24  (Open, BA)             1678 non-null   float64
 25  (Open, BTC-USD)        2435 non-null   float64
 26  (Open, EURUSD=X)       1736 non-null   float64
 27  (Open, GC=F)           1675 non-null   float64
 28  (Open, MSFT)           1678 non-null   float64
 29  (Open, ^DJI)           1678 non-null   float64
 30  (Volume, BA)           1678 non-null   float64
 31  (Volume, BTC-USD)      2435 non-null   int64
 32  (Volume, EURUSD=X)     1736 non-null   float64
 33  (Volume, GC=F)         1675 non-null   float64
 34  (Volume, MSFT)         1678 non-null   float64
 35  (Volume, ^DJI)         1678 non-null   float64
dtypes: float64(35), int64(1)
memory usage: 703.9 KB

In [17]:
# saving the panda's data frame locally in a file
df.to_csv("../../Assets/Data-Files/multi_assets.csv")