## Compound Returns & Geometric Mean Return

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn")

In [4]:
msft = pd.read_csv("../../Assets/Data-Files/msft.csv", index_col = "Date", parse_dates = ["Date"])
msft

              Price  Returns
Date
2014-09-30  46.3600      NaN
2014-10-01  45.9000  -0.0099
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
...             ...      ...
2021-05-24 250.7800   0.0229
2021-05-25 251.7200   0.0037
2021-05-26 251.4900  -0.0009
2021-05-27 249.3100  -0.0087
2021-05-28 249.6800   0.0015

[1678 rows x 2 columns]

In [8]:
# 3rd alternative to calculate multiple (compounding daily returns)
# prod() method multiplies all elements
multiple = (1 + msft.Returns).prod()
multiple

5.385677079133594

In [10]:
# number of elements in return column
n = msft.Returns.count()
n

1677