## Compound Returns & Geometric Mean Return

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn")

In [3]:
msft = pd.read_csv("../../Assets/Data-Files/msft.csv", index_col = "Date", parse_dates = ["Date"])
msft

              Price  Returns
Date
2014-09-30  46.3600      NaN
2014-10-01  45.9000  -0.0099
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
...             ...      ...
2021-05-24 250.7800   0.0229
2021-05-25 251.7200   0.0037
2021-05-26 251.4900  -0.0009
2021-05-27 249.3100  -0.0087
2021-05-28 249.6800   0.0015

[1678 rows x 2 columns]

In [6]:
# 3rd alternative to calculate multiple (compounding daily returns)
# prod() method multiplies all elements
multiple = (1 + msft.Returns).prod()
multiple

5.385677079133594

In [7]:
# number of elements in return column
n = msft.Returns.count()
n

1677

In [11]:
# geometric mean return
geo_mean = multiple**(1/n) - 1
geo_mean

0.0010045250903640834

In [12]:
# alternative #4 to calculate multiple (geometric mean)
(1 + geo_mean)**n

5.385677079132754

<font size="4" style="line-height:1.3">**Geometric Mean has similar definition as the Compound Annual Growth Rate:** The (constant daily) rate of return that would be required for an investment to grow from its beginning balance to its ending balance, assuming the profits were reinvested at the end of each day of the investment's lifespan (Wikipedia).</font>

<font size="4" style="line-height:1.3">**The concepts of Compound Returns, Compound Annual Growth Rate and Geometric Mean are closely related.**</font>

In [13]:
mu = msft.Returns.mean() # arithmetic mean return
mu

0.00115317350436645

<font size="4" style="line-height:1.3">**The arthmetic mean return is always greater then the geometric mean return and less usefull.**</font>

In [14]:
# calculating multiple is not possible with arithemetic mean
(1 + mu)**n # does not return multiple

6.908536206420821