In [1]:
import pandas as pd
import plotly.graph_objects as go
import datetime as dt

In [2]:
from plotting import CandlePlot

In [3]:
# https://stackoverflow.com/questions/1254370/reimport-a-module-while-interactive
# import importlib
# importlib.reload(plotting)

In [5]:
# loading data for an instruments pair
pair = "EUR_USD"
granularity = "H4"
df = pd.read_pickle(f"../../data/{pair}_{granularity}.pkl")
MA_LIST = [10, 20, 50, 100, 200]

In [6]:
df.shape

(4000, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    4000 non-null   datetime64[ns, tzutc()]
 1   volume  4000 non-null   int64
 2   mid_o   4000 non-null   float64
 3   mid_h   4000 non-null   float64
 4   mid_l   4000 non-null   float64
 5   mid_c   4000 non-null   float64
 6   bid_o   4000 non-null   float64
 7   bid_h   4000 non-null   float64
 8   bid_l   4000 non-null   float64
 9   bid_c   4000 non-null   float64
 10  ask_o   4000 non-null   float64
 11  ask_h   4000 non-null   float64
 12  ask_l   4000 non-null   float64
 13  ask_c   4000 non-null   float64
dtypes: datetime64[ns, tzutc()](1), float64(12), int64(1)
memory usage: 437.6 KB

In [8]:
df.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2019-12-27 14:00:00+00:00,3513,1.11537,1.11843,1.11520,1.11838,1.11531,1.11837,1.11514,1.11832,1.11543,1.11849,1.11527,1.11844
1,2019-12-27 18:00:00+00:00,1370,1.11836,1.11883,1.11710,1.11758,1.11830,1.11877,1.11683,1.11708,1.11842,1.11889,1.11718,1.11808
2,2019-12-29 22:00:00+00:00,1060,1.11773,1.11954,1.11718,1.11948,1.11723,1.11948,1.11668,1.11941,1.11823,1.11961,1.11751,1.11954
3,2019-12-30 02:00:00+00:00,1031,1.11944,1.12108,1.11918,1.12028,1.11937,1.12101,1.11911,1.12021,1.11952,1.12114,1.11925,1.12034
4,2019-12-30 06:00:00+00:00,2870,1.12028,1.12058,1.11901,1.11994,1.12021,1.12051,1.11895,1.11988,1.12034,1.12064,1.11906,1.12000

In [9]:
df.columns

Index(['time', 'volume', 'mid_o', 'mid_h', 'mid_l', 'mid_c', 'bid_o', 'bid_h',
       'bid_l', 'bid_c', 'ask_o', 'ask_h', 'ask_l', 'ask_c'],
      dtype='object')

In [10]:
# to calculate the moving average only the mid price columns are needed
# get data frame with copy of relevant data
df_ma = df[['time', 'mid_o', 'mid_h', 'mid_l', 'mid_c']].copy()

In [11]:
df_ma.head()

                       time    mid_o    mid_h    mid_l    mid_c
0 2019-12-27 14:00:00+00:00  1.11537  1.11843  1.11520  1.11838
1 2019-12-27 18:00:00+00:00  1.11836  1.11883  1.11710  1.11758
2 2019-12-29 22:00:00+00:00  1.11773  1.11954  1.11718  1.11948
3 2019-12-30 02:00:00+00:00  1.11944  1.12108  1.11918  1.12028
4 2019-12-30 06:00:00+00:00  1.12028  1.12058  1.11901  1.11994

In [13]:
# calculate the moving averages
# rolling() -> telling pandas to do rolling calculations
for ma in MA_LIST:
    df_ma[f'MA_{ma}'] = df_ma.mid_c.rolling(window=ma).mean()
df_ma.dropna(inplace=True) # inplace has to be set to True otherwise the dataframe won't get modified

In [16]:
#df_ma.head(50)

In [ ]:
df_ma.info() # only 3991 of 4000 entries are non-null

In [ ]:
df_ma.head()

In [ ]:
# resetting the index
df_ma.reset_index(inplace=True, drop=True)

In [ ]:
df_ma.head()

In [ ]:
# plotting the data frame with plotly
# take the first 100 candles of the data frame
df_plot = df_ma.iloc[:100]

In [ ]:
df_plot.shape

In [ ]:
# create candle plot instance
cp = CandlePlot(df_plot)

In [ ]:
cp.show_plot()

In [ ]:
# adding moving average to plot
# cp.fig.add_trace(go.Scatter(
#     x = cp.df_plot.sTime,
#     y = cp.df_plot.MA_10,
#     line = dict(width = 2),
#     line_shape='spline',
#     name='MA_10'
# ))
# replace code above with function from plotting.py
cp.show_plot(line_traces=['MA_10'])