In [1]:
import pandas as pd
from plotting import CandlePlot
# show all columns of a data frame on screen
pd.set_option('display.max_columns', None)

In [2]:
df_ma_res = pd.read_pickle("../../data/2022-08-20-11-ma_res.pkl")
df_ma_trades = pd.read_pickle("../../data/2022-08-20-11-ma_trades.pkl")

In [3]:
df_ma_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pair         480 non-null    object
 1   num_trades   480 non-null    int64
 2   total_gain   480 non-null    int64
 3   mean_gain    480 non-null    int64
 4   min_gain     480 non-null    int64
 5   max_gain     480 non-null    int64
 6   ma_l         480 non-null    object
 7   ma_s         480 non-null    object
 8   cross        480 non-null    object
 9   granularity  480 non-null    object
dtypes: int64(5), object(5)
memory usage: 37.6+ KB

In [4]:
df_ma_res.head()

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,ma_l,ma_s,cross,granularity
0,EUR_USD,218,103,0,-155,224,MA_20,MA_10,MA_10_MA_20,H1
1,EUR_USD,128,-534,-4,-163,267,MA_40,MA_10,MA_10_MA_40,H1
2,EUR_USD,108,-79,0,-131,301,MA_40,MA_20,MA_20_MA_40,H1
3,EUR_USD,122,110,0,-169,260,MA_40,MA_30,MA_30_MA_40,H1
4,EUR_USD,93,270,2,-151,477,MA_80,MA_10,MA_10_MA_80,H1

In [5]:
# checking what granularitys we have
df_ma_res.granularity.unique() # we have one hour and four hour results

array(['H1', 'H4'], dtype=object)

In [6]:
# taking subset of data for one hour results
df_ma_res_h1 = df_ma_res[df_ma_res.granularity == "H1"].copy()

In [7]:
df_ma_res_h1.shape

(240, 10)

In [8]:
df_ma_trades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34781 entries, 0 to 34780
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         34781 non-null  datetime64[ns, tzutc()]
 1   volume       34781 non-null  int64
 2   mid_o        34781 non-null  float64
 3   mid_h        34781 non-null  float64
 4   mid_l        34781 non-null  float64
 5   mid_c        34781 non-null  float64
 6   bid_o        34781 non-null  float64
 7   bid_h        34781 non-null  float64
 8   bid_l        34781 non-null  float64
 9   bid_c        34781 non-null  float64
 10  ask_o        34781 non-null  float64
 11  ask_h        34781 non-null  float64
 12  ask_l        34781 non-null  float64
 13  ask_c        34781 non-null  float64
 14  MA_40        34781 non-null  float64
 15  MA_10        34781 non-null  float64
 16  MA_80        34781 non-null  float64
 17  MA_20        34781 non-null  float64
 18  MA_150       34781 non-null  float64
 19  MA_120       34781 non-null  float64
 20  MA_30        34781 non-null  float64
 21  DELTA        34781 non-null  float64
 22  DELTA_PREV   34781 non-null  float64
 23  TRADE        34781 non-null  int64
 24  DIFF         34781 non-null  float64
 25  GAIN         34781 non-null  float64
 26  granularity  34781 non-null  object
 27  pair         34781 non-null  object
 28  GAIN_C       34781 non-null  float64
 29  ma_l         34781 non-null  object
 30  ma_s         34781 non-null  object
 31  cross        34781 non-null  object
dtypes: datetime64[ns, tzutc()](1), float64(24), int64(2), object(5)
memory usage: 8.5+ MB

In [9]:
df_ma_trades.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c,MA_40,MA_10,MA_80,MA_20,MA_150,MA_120,MA_30,DELTA,DELTA_PREV,TRADE,DIFF,GAIN,granularity,pair,GAIN_C,ma_l,ma_s,cross
0,2021-12-10 07:00:00+00:00,2452,1.12980,1.12980,1.12864,1.12942,1.12972,1.12973,1.12857,1.12935,1.12988,1.12988,1.12872,1.12950,1.131482,1.129589,1.129634,1.129580,1.129895,1.129560,1.130562,0.000009,-0.000113,1,-0.00263,-26.3,H1,EUR_USD,-26.3,MA_20,MA_10,MA_10_MA_20
1,2021-12-10 11:00:00+00:00,2547,1.12684,1.12744,1.12668,1.12679,1.12678,1.12738,1.12661,1.12673,1.12691,1.12751,1.12674,1.12685,1.130813,1.128908,1.129584,1.129039,1.129761,1.129476,1.129804,-0.000131,0.000080,-1,0.00433,-43.3,H1,EUR_USD,-69.6,MA_20,MA_10,MA_10_MA_20
2,2021-12-10 19:00:00+00:00,1053,1.13154,1.13170,1.13098,1.13112,1.13147,1.13163,1.13091,1.13105,1.13162,1.13177,1.13106,1.13119,1.130057,1.129550,1.129825,1.129476,1.129620,1.129462,1.129375,0.000074,-0.000128,1,-0.00207,-20.7,H1,EUR_USD,-90.3,MA_20,MA_10,MA_10_MA_20
3,2021-12-13 07:00:00+00:00,2471,1.12852,1.12918,1.12838,1.12905,1.12844,1.12911,1.12830,1.12898,1.12859,1.12925,1.12845,1.12912,1.129648,1.129980,1.130532,1.130258,1.129593,1.129546,1.129808,-0.000278,0.000108,-1,-0.00043,4.3,H1,EUR_USD,-86.0,MA_20,MA_10,MA_10_MA_20
4,2021-12-13 21:00:00+00:00,581,1.12842,1.12876,1.12818,1.12862,1.12835,1.12869,1.12810,1.12854,1.12850,1.12883,1.12825,1.12871,1.129256,1.128665,1.130425,1.128579,1.129465,1.129487,1.129484,0.000086,-0.000129,1,-0.00088,-8.8,H1,EUR_USD,-94.8,MA_20,MA_10,MA_10_MA_20

In [10]:
df_ma_trades.shape

(34781, 32)

In [11]:
# checking what granularitys we have
df_ma_trades.granularity.unique() # we have one hour and four hour results

array(['H1', 'H4'], dtype=object)

In [12]:
# taking subset of data for one hour results
df_ma_trades_h1 = df_ma_trades[df_ma_trades.granularity == "H1"].copy()

In [13]:
df_ma_trades_h1.shape

(17120, 32)

In [14]:
# have a look at what crosses where eventually effective
# number of columns on the data frame
df_ma_res_h1.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'ma_l', 'ma_s', 'cross', 'granularity'],
      dtype='object')

In [15]:
# group columns by pair, total_gain, num_trades, cross
# copy of data frame of one hourly results
df_cross_summary = df_ma_res_h1[['pair', 'num_trades', 'total_gain', 'cross']].copy()

In [16]:
df_cross_summary

        pair  num_trades  total_gain         cross
0    EUR_USD         218         103   MA_10_MA_20
1    EUR_USD         128        -534   MA_10_MA_40
2    EUR_USD         108         -79   MA_20_MA_40
3    EUR_USD         122         110   MA_30_MA_40
4    EUR_USD          93         270   MA_10_MA_80
..       ...         ...         ...           ...
235  CAD_JPY          38         221  MA_40_MA_120
236  CAD_JPY          60          28  MA_10_MA_150
237  CAD_JPY          42         538  MA_20_MA_150
238  CAD_JPY          38        -281  MA_30_MA_150
239  CAD_JPY          30         582  MA_40_MA_150

[240 rows x 4 columns]

In [17]:
df_cross_gr = df_cross_summary.groupby(by="cross").sum()

In [18]:
df_cross_gr # datadrame where all of the crosses has been grouped

              num_trades  total_gain
cross
MA_10_MA_120         934        -413
MA_10_MA_150         834        2047
MA_10_MA_20         3171        7809
MA_10_MA_40         1720       11039
MA_10_MA_80         1140        6106
MA_20_MA_120         721         551
MA_20_MA_150         628        2204
MA_20_MA_40         1508        8146
MA_20_MA_80          873        3954
MA_30_MA_120         628        1430
MA_30_MA_150         559         177
MA_30_MA_40         1740        7315
MA_30_MA_80          806        4704
MA_40_MA_120         569         899
MA_40_MA_150         509        1158
MA_40_MA_80          780        1118

In [19]:
# fixing nested indexes with as_index
df_cross_gr = df_cross_summary.groupby(by="cross", as_index=False).sum()

In [20]:
# add sort by 
# modifying the data frame we're actually calling: inplace=True
df_cross_gr.sort_values(by='total_gain', ascending=False, inplace=True)

In [21]:
df_cross_gr # spread is not taken into account
# taking spread into account would most likely mean that positive looking results are negative
# conclusion: strategy doesn't perform very well

           cross  num_trades  total_gain
3    MA_10_MA_40        1720       11039
7    MA_20_MA_40        1508        8146
2    MA_10_MA_20        3171        7809
11   MA_30_MA_40        1740        7315
4    MA_10_MA_80        1140        6106
12   MA_30_MA_80         806        4704
8    MA_20_MA_80         873        3954
6   MA_20_MA_150         628        2204
1   MA_10_MA_150         834        2047
9   MA_30_MA_120         628        1430
14  MA_40_MA_150         509        1158
15   MA_40_MA_80         780        1118
13  MA_40_MA_120         569         899
5   MA_20_MA_120         721         551
10  MA_30_MA_150         559         177
0   MA_10_MA_120         934        -413

In [22]:
# what percentage of the crosses we've tested actually gave us a gain?
# pairs we actually tested 
df_ma_res_h1.pair.unique()

array(['EUR_USD', 'EUR_GBP', 'EUR_JPY', 'EUR_AUD', 'EUR_CAD', 'USD_JPY',
       'USD_CAD', 'GBP_USD', 'GBP_JPY', 'GBP_AUD', 'GBP_CAD', 'AUD_USD',
       'AUD_JPY', 'AUD_CAD', 'CAD_JPY'], dtype=object)

In [23]:
# number of pairs we actually tested
total_pairs = len(df_ma_res_h1.pair.unique())
total_pairs

15

In [24]:
# data frame for single cross
temp = df_ma_res_h1[df_ma_res_h1.cross == 'MA_10_MA_40']

In [25]:
temp

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,ma_l,ma_s,cross,granularity
1,EUR_USD,128,-534,-4,-163,267,MA_40,MA_10,MA_10_MA_40,H1
17,EUR_GBP,113,-433,-3,-67,158,MA_40,MA_10,MA_10_MA_40,H1
33,EUR_JPY,125,1192,9,-155,644,MA_40,MA_10,MA_10_MA_40,H1
49,EUR_AUD,116,2173,18,-152,732,MA_40,MA_10,MA_10_MA_40,H1
65,EUR_CAD,115,187,1,-134,510,MA_40,MA_10,MA_10_MA_40,H1
81,USD_JPY,120,1548,12,-81,365,MA_40,MA_10,MA_10_MA_40,H1
97,USD_CAD,117,110,0,-122,326,MA_40,MA_10,MA_10_MA_40,H1
113,GBP_USD,121,369,3,-228,486,MA_40,MA_10,MA_10_MA_40,H1
129,GBP_JPY,112,2239,19,-215,694,MA_40,MA_10,MA_10_MA_40,H1
145,GBP_AUD,116,431,3,-194,425,MA_40,MA_10,MA_10_MA_40,H1
161,GBP_CAD,105,45,0,-126,354,MA_40,MA_10,MA_10_MA_40,H1
177,AUD_USD,118,120,1,-87,264,MA_40,MA_10,MA_10_MA_40,H1
193,AUD_JPY,104,2111,20,-147,742,MA_40,MA_10,MA_10_MA_40,H1
209,AUD_CAD,112,-217,-1,-68,137,MA_40,MA_10,MA_10_MA_40,H1
225,CAD_JPY,98,1698,17,-115,661,MA_40,MA_10,MA_10_MA_40,H1

In [26]:
# how many pairs gave us a positive result?
temp[temp.total_gain > 0]

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,ma_l,ma_s,cross,granularity
33,EUR_JPY,125,1192,9,-155,644,MA_40,MA_10,MA_10_MA_40,H1
49,EUR_AUD,116,2173,18,-152,732,MA_40,MA_10,MA_10_MA_40,H1
65,EUR_CAD,115,187,1,-134,510,MA_40,MA_10,MA_10_MA_40,H1
81,USD_JPY,120,1548,12,-81,365,MA_40,MA_10,MA_10_MA_40,H1
97,USD_CAD,117,110,0,-122,326,MA_40,MA_10,MA_10_MA_40,H1
113,GBP_USD,121,369,3,-228,486,MA_40,MA_10,MA_10_MA_40,H1
129,GBP_JPY,112,2239,19,-215,694,MA_40,MA_10,MA_10_MA_40,H1
145,GBP_AUD,116,431,3,-194,425,MA_40,MA_10,MA_10_MA_40,H1
161,GBP_CAD,105,45,0,-126,354,MA_40,MA_10,MA_10_MA_40,H1
177,AUD_USD,118,120,1,-87,264,MA_40,MA_10,MA_10_MA_40,H1
193,AUD_JPY,104,2111,20,-147,742,MA_40,MA_10,MA_10_MA_40,H1
225,CAD_JPY,98,1698,17,-115,661,MA_40,MA_10,MA_10_MA_40,H1

In [27]:
# actual number of columns with a a positive result
temp[temp.total_gain > 0].shape[0]

12

In [28]:
# looking at the number of positive results for all the crosses
for c in df_ma_res_h1.cross.unique():
    temp = df_ma_res_h1[df_ma_res_h1.cross == c]
    pg = temp[temp.total_gain > 0].shape[0]
    # crossing, number of positive results, success rate
    print(f"{c} pg: {pg} perc gain: {(pg / total_pairs) * 100:.0f}%")

MA_10_MA_20 pg: 11 perc gain: 73%
MA_10_MA_40 pg: 12 perc gain: 80%
MA_20_MA_40 pg: 8 perc gain: 53%
MA_30_MA_40 pg: 10 perc gain: 67%
MA_10_MA_80 pg: 7 perc gain: 47%
MA_20_MA_80 pg: 9 perc gain: 60%
MA_30_MA_80 pg: 10 perc gain: 67%
MA_40_MA_80 pg: 7 perc gain: 47%
MA_10_MA_120 pg: 6 perc gain: 40%
MA_20_MA_120 pg: 7 perc gain: 47%
MA_30_MA_120 pg: 9 perc gain: 60%
MA_40_MA_120 pg: 9 perc gain: 60%
MA_10_MA_150 pg: 8 perc gain: 53%
MA_20_MA_150 pg: 8 perc gain: 53%
MA_30_MA_150 pg: 7 perc gain: 47%
MA_40_MA_150 pg: 8 perc gain: 53%

In [29]:
# taking a closer look at the MA_10_MA_20 cross
cross = "MA_10_MA_20"
df_MA_10_MA_20 = df_ma_res_h1[df_ma_res_h1.cross == cross].copy()
df_MA_10_MA_20.sort_values(by="total_gain", ascending=False, inplace=True)

In [30]:
df_MA_10_MA_20

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,ma_l,ma_s,cross,granularity
128,GBP_JPY,218,2709,12,-210,416,MA_20,MA_10,MA_10_MA_20,H1
48,EUR_AUD,191,1408,7,-139,688,MA_20,MA_10,MA_10_MA_20,H1
224,CAD_JPY,202,1368,6,-156,322,MA_20,MA_10,MA_10_MA_20,H1
80,USD_JPY,196,1103,5,-138,292,MA_20,MA_10,MA_10_MA_20,H1
192,AUD_JPY,187,1073,5,-112,341,MA_20,MA_10,MA_10_MA_20,H1
112,GBP_USD,219,520,2,-182,315,MA_20,MA_10,MA_10_MA_20,H1
32,EUR_JPY,216,505,2,-173,320,MA_20,MA_10,MA_10_MA_20,H1
96,USD_CAD,213,389,1,-79,369,MA_20,MA_10,MA_10_MA_20,H1
64,EUR_CAD,220,374,1,-127,285,MA_20,MA_10,MA_10_MA_20,H1
176,AUD_USD,207,124,0,-104,264,MA_20,MA_10,MA_10_MA_20,H1
0,EUR_USD,218,103,0,-155,224,MA_20,MA_10,MA_10_MA_20,H1
144,GBP_AUD,221,-282,-1,-118,392,MA_20,MA_10,MA_10_MA_20,H1
208,AUD_CAD,211,-440,-2,-110,165,MA_20,MA_10,MA_10_MA_20,H1
160,GBP_CAD,222,-470,-2,-116,250,MA_20,MA_10,MA_10_MA_20,H1
16,EUR_GBP,230,-675,-2,-69,117,MA_20,MA_10,MA_10_MA_20,H1