In [2]:
import pandas as pd
from plotting import CandlePlot

In [4]:
df_ma_res = pd.read_pickle("../../data/2022-08-18-11-ma_res.pkl")
df_ma_trades = pd.read_pickle("../../data/2022-08-18-11-ma_trades.pkl")

In [5]:
df_ma_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pair         480 non-null    object
 1   num_trades   480 non-null    int64
 2   total_gain   480 non-null    int64
 3   mean_gain    480 non-null    int64
 4   min_gain     480 non-null    int64
 5   max_gain     480 non-null    int64
 6   ma_l         480 non-null    object
 7   ma_s         480 non-null    object
 8   cross        480 non-null    object
 9   granularity  480 non-null    object
dtypes: int64(5), object(5)
memory usage: 37.6+ KB

In [7]:
df_ma_res.head()

,pair,num_trades,total_gain,mean_gain,min_gain,max_gain,ma_l,ma_s,cross,granularity
0,EUR_USD,218,103,0,-155,224,MA_20,"(MA_10,)","('MA_10',)_MA_20","(H1,)"
1,EUR_USD,128,-534,-4,-163,267,MA_40,"(MA_10,)","('MA_10',)_MA_40","(H1,)"
2,EUR_USD,108,-79,0,-131,301,MA_40,"(MA_20,)","('MA_20',)_MA_40","(H1,)"
3,EUR_USD,122,110,0,-169,260,MA_40,"(MA_30,)","('MA_30',)_MA_40","(H1,)"
4,EUR_USD,93,270,2,-151,477,MA_80,"(MA_10,)","('MA_10',)_MA_80","(H1,)"

In [6]:
df_ma_trades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34781 entries, 0 to 34780
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         34781 non-null  datetime64[ns, tzutc()]
 1   volume       34781 non-null  int64
 2   mid_o        34781 non-null  float64
 3   mid_h        34781 non-null  float64
 4   mid_l        34781 non-null  float64
 5   mid_c        34781 non-null  float64
 6   bid_o        34781 non-null  float64
 7   bid_h        34781 non-null  float64
 8   bid_l        34781 non-null  float64
 9   bid_c        34781 non-null  float64
 10  ask_o        34781 non-null  float64
 11  ask_h        34781 non-null  float64
 12  ask_l        34781 non-null  float64
 13  ask_c        34781 non-null  float64
 14  MA_40        34781 non-null  float64
 15  MA_10        34781 non-null  float64
 16  MA_80        34781 non-null  float64
 17  MA_20        34781 non-null  float64
 18  MA_150       34781 non-null  float64
 19  MA_120       34781 non-null  float64
 20  MA_30        34781 non-null  float64
 21  DELTA        34781 non-null  float64
 22  DELTA_PREV   34781 non-null  float64
 23  TRADE        34781 non-null  int64
 24  DIFF         34781 non-null  float64
 25  GAIN         34781 non-null  float64
 26  granularity  34781 non-null  object
 27  pair         34781 non-null  object
 28  GAIN_C       34781 non-null  float64
 29  ma_l         34781 non-null  object
 30  ma_s         34781 non-null  object
 31  cross        34781 non-null  object
dtypes: datetime64[ns, tzutc()](1), float64(24), int64(2), object(5)
memory usage: 8.5+ MB

In [8]:
df_ma_trades.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,...,DELTA_PREV,TRADE,DIFF,GAIN,granularity,pair,GAIN_C,ma_l,ma_s,cross
0,2021-12-10 07:00:00+00:00,2452,1.12980,1.12980,1.12864,1.12942,1.12972,1.12973,1.12857,1.12935,...,-0.000113,1,-0.00263,-26.3,H1,EUR_USD,-26.3,MA_20,MA_10,MA_10_MA_20
1,2021-12-10 11:00:00+00:00,2547,1.12684,1.12744,1.12668,1.12679,1.12678,1.12738,1.12661,1.12673,...,0.000080,-1,0.00433,-43.3,H1,EUR_USD,-69.6,MA_20,MA_10,MA_10_MA_20
2,2021-12-10 19:00:00+00:00,1053,1.13154,1.13170,1.13098,1.13112,1.13147,1.13163,1.13091,1.13105,...,-0.000128,1,-0.00207,-20.7,H1,EUR_USD,-90.3,MA_20,MA_10,MA_10_MA_20
3,2021-12-13 07:00:00+00:00,2471,1.12852,1.12918,1.12838,1.12905,1.12844,1.12911,1.12830,1.12898,...,0.000108,-1,-0.00043,4.3,H1,EUR_USD,-86.0,MA_20,MA_10,MA_10_MA_20
4,2021-12-13 21:00:00+00:00,581,1.12842,1.12876,1.12818,1.12862,1.12835,1.12869,1.12810,1.12854,...,-0.000129,1,-0.00088,-8.8,H1,EUR_USD,-94.8,MA_20,MA_10,MA_10_MA_20