## Streaming and Collecting Real-Time Candles

In [45]:
from binance import ThreadedWebsocketManager
import pandas as pd

**Kline/Candlestick Stream:** The Kline/Candlestick Stream push updates to the current klines/candlestick every second.

https://binance-docs.github.io/apidocs/spot/en/#kline-candlestick-streams

![Kline/Candlestick Stream Output/Message](../Assets/Images/kline-candlestick-streams-output-message.png)

In [46]:
df = pd.DataFrame(columns = ["Open", "High", "Low", "Close", "Volume", "Complete"])
df

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Complete]
Index: []

In [47]:
def stream_candles(msg):
    ''' define how to process incoming WebSocket messages '''
    
    # extract the required items from msg
    event_time = pd.to_datetime(msg["E"], unit = "ms")
    start_time = pd.to_datetime(msg["k"]["t"], unit = "ms")
    first = float(msg["k"]["o"])
    high = float(msg["k"]["h"])
    low = float(msg["k"]["l"])
    close = float(msg["k"]["c"])
    volume = float(msg["k"]["v"])
    complete = msg["k"]["x"]
    
    # print out
    print("Time: {} | Price: {}".format(event_time, close))
    
    # feed df (add new bar / update latest bar)
    df.loc[start_time] = [first, high, low, close, volume, complete]

In [48]:
# initialize and start the WebSocket
twm = ThreadedWebsocketManager()
twm.start()

valid intervals - 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 8h, 12h, 1d, 3d, 1w, 1M

In [49]:
twm.start_kline_socket(callback = stream_candles, symbol = "BTCUSDT", interval = "1m")

'btcusdt@kline_1m'

Time: 2022-06-06 06:59:44.456000 | Price: 31287.67
Time: 2022-06-06 06:59:46.509000 | Price: 31287.68
Time: 2022-06-06 06:59:48.738000 | Price: 31282.79
Time: 2022-06-06 06:59:51.119000 | Price: 31282.8
Time: 2022-06-06 06:59:53.147000 | Price: 31276.06
Time: 2022-06-06 06:59:55.718000 | Price: 31276.05
Time: 2022-06-06 06:59:57.881000 | Price: 31274.23
Time: 2022-06-06 06:59:59.911000 | Price: 31274.22
Time: 2022-06-06 07:00:00.002000 | Price: 31274.23
Time: 2022-06-06 07:00:02.038000 | Price: 31286.72
Time: 2022-06-06 07:00:04.115000 | Price: 31297.06
Time: 2022-06-06 07:00:06.137000 | Price: 31293.57
Time: 2022-06-06 07:00:08.230000 | Price: 31282.09
Time: 2022-06-06 07:00:10.799000 | Price: 31275.14
Time: 2022-06-06 07:00:13.065000 | Price: 31279.21
Time: 2022-06-06 07:00:15.552000 | Price: 31279.21
Time: 2022-06-06 07:00:17.618000 | Price: 31268.8
Time: 2022-06-06 07:00:19.625000 | Price: 31266.36
Time: 2022-06-06 07:00:21.820000 | Price: 31266.18
Time: 2022-06-06 07:00:24.827000 | Price: 31264.7

In [50]:
twm.stop()

In [51]:
df

,Open,High,Low,Close,Volume,Complete
2022-06-06 06:59:00,31287.68,31287.68,31267.56,31274.23,46.48310,True
2022-06-06 07:00:00,31274.23,31297.56,31264.70,31264.70,30.04866,False

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2022-06-06 06:59:00 to 2022-06-06 07:00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Open      2 non-null      float64
 1   High      2 non-null      float64
 2   Low       2 non-null      float64
 3   Close     2 non-null      float64
 4   Volume    2 non-null      float64
 5   Complete  2 non-null      bool
dtypes: bool(1), float64(5)
memory usage: 206.0 bytes