# Pandas Series and DataFrame Objects

## Pandas Series

Series are similar to NumPy arrays, except that we gan give them a named or datetime index.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# creating a series by converting object types to a series
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30]) # numpy array
d = {'a':10, 'b':20, 'c':100} # dictionary

In [4]:
# create a series from a list
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
# create a series from a list with index
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
# create a series from a numpy array
pd.Series(arr,index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
# create a series from a dictionary
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [9]:
pd.Series(data=labels) # strings as data

0    a
1    b
2    c
dtype: object

In [11]:
# passing list of build in functions to a series
pd.Series([sum,print,len]) # extremely uncommon and rarely used

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
# using an index with a pandas series
ser1 = pd.Series([1,2,3,4],index=['USA','CHINA','FRANCE','GERMANY'])

In [13]:
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,3,4],index=['USA','CHINA','ITALY','JAPAN'])

In [15]:
# selecting by index
ser1['USA']

1

In [16]:
ser2['JAPAN']

4

In [19]:
# trying to select something that's not in the series
# ser1['CANADA'] # returns a key error

In [22]:
# adding series adds up values
# adds values if there's a match, otherwise a null value
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64

## Pandas DataFrame