# Pandas - Operations

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'col1': [1,2,3,4],
    'col2': [444,555,666,444],
    'col3': ['abc','def','ghi','xyz']
})

In [3]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

# Finding unique values in a DataFrame

Unique values are the items that appear in a dataset only once.

In [4]:
# finding all the unique values in column 2
df['col2'].unique()

array([444, 555, 666])

In [6]:
# number of unique values in column 2
df['col2'].nunique()

3

In [7]:
# how often do unique values show up?
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [8]:
value_counts_col2 = df['col2'].value_counts()

In [13]:
type(value_counts_col2) # returns a series

pandas.core.series.Series