# Data Input and Output

- CSV  
- Excel  
- HTML  
- SQL

In [7]:
import pandas as pd

In [8]:
data_dir = '../Assets/Data-Python-for-Financial-Analysis/'

## CSV

In [9]:
# reading a csv file
pd.read_csv(data_dir + 'example') # reads csv as DataFrame

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
df = pd.read_csv(data_dir + 'example') # store in variable

In [17]:
df.to_csv(data_dir + 'my_output',index=False) # saving data to file

In [22]:
pd.read_csv(data_dir + 'my_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## Excel

In [33]:
# reading excel files
# reading excel files works only if xlrd and openpyxl are installed
# pandas reads an excel file as a workbook
# a workbook is a bunch of sheets
# and each sheet is a DataFrame
# dropping "Unnamed: 0" with index_col=[0]
pd.read_excel(data_dir + 'Excel_Sample.xlsx',sheet_name='Sheet1',index_col=[0])

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [34]:
# saving DataFrame to Excel file
df.to_excel(data_dir + 'Excel_Sample2.xlsx',sheet_name='NewSheet')